@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


.markdown-container {
    margin-left: 50px;
    margin-top: 80px;
}

markdown {
    font-family: 'Montserrat', sans-serif;
}


.icons {
    font-size: 20px;
    color: lightgrey;
    margin: 10px;
    position: fixed;
    top: 10px;
    left: 10px;
  }
  
  .icons a {
    text-decoration: none;
    color: lightgrey;
  }
  
  .icons a:hover {
    color: black;
  }
  