<body>
    <div class="polaroid">
        <img src="assets/face.png" class="face" />
        <div class="container">
            <p>Will Hewitt</p>
            
            <ul>
                <li><a href="https://www.linkedin.com/in/hewittwill/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://twitter.com/will2hew"><i class="fa fa-twitter"></i></a></li>
                <li><a href="mailto:me@hewittwill.com"><i class="fa fa-envelope-o"></i></a></li>
            </ul>
        </div>
    </div>
    
    <div class="secret-blog">
        <a routerLink="/blog"><i class="fa fa-book"></i></a>
    </div>
</body>